/Backup
/Cache
/Index
/Installed Packages
/Local

Package Control.*
*.cache

/Packages/*
!/Packages/User
/Packages/User/Color Highlighter/*
/Packages/User/SublimeLinter/*
/Packages/User/oscrypto-ca-bundle.crt
